@import "../mixins/mixins.scss";


$vw-value: 1vw;
$vh-value: 1vh;
$index: calc(#{$vw-value} + #{$vh-value});
$hover: #ffe100;

.header-wrap{
    width: 100%;
    height: calc($index * 4);
    @include flex();
    background-color: black;
    box-shadow: 0 0 100px black; 
    position: relative;
    z-index: 2;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

.parallelogram {
    @include margins(0.5, 1.2, 0);
    @include font(calc($index * 2.5));
    @include flex();
}


.header__logo{
    @include margins(0.5, 1.2, 0);
    @include font(calc($index * 2.2));
    @include flex();
    flex-direction: row;

    a{
        color: white;
        text-decoration: none;
        transition: color 0.5s ease;
    }

    a:hover{
        color: $hover;
    }

}

.header__content{
    width: 65%;
    @include margins(1.5, 0, 1.2);

    .header__link__list{
        @include flex();
        flex-direction: row; 
        list-style: none; 
        

        a{
            @include font2(calc($index * 1.2));
            text-decoration: none;
            transition: color 0.5s ease-in;
        }

        a:hover{
            color: $hover;
        }
    }
}

@media (max-width: 350px) {
    .header__logo {
        display: none;
    }
    
    .header__content {
        width: 100%;
        margin-left: calc($index * 0.5);

        .header__link__list li:nth-child(1) {
            display: none;
        }

        .header__link__list li:nth-last-child(1) {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .header__logo {
        display: none; 
    }
    
    .header__content {
        width: 100%;
        margin-left: calc($index * 0.5);
    }

    .header__link__list li:nth-child(1) {
        display: none;
    }
}

@media (max-width: 900px) {
    .header__logo {
        display: none; 
    }
    
    .header__content {
        width: 100%;
        margin-left: calc($index * 0.5);
    }
}