@use "./mixins.scss" as m;
@use "sass:color";

$vw-value: 1vw;
$vh-value: 1vh;
$index: calc(#{$vw-value} + #{$vh-value});

$border-color: #555555;
$text-color: #a0a0a0;
$font-white: #ffffff;
$bg-black: #000;
$bg-gray: #2c2c2c;
$white: #fff;
$text-gray: #888;
$border-radius: 20px;


.Overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.CloseBtn {
    position: absolute;
    top: 10px; right: 10px;
    background: none; border: none; color: white; font-size: 24px; cursor: pointer;
}
.InputWrapper {
    position: relative;
    margin: 20px 0;
    input { width: 100%; padding: 10px; }
    img { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 20px; }
}
.SubmitBtn {
    margin: 20px auto 0;
    transition: all 0.2s ease-in-out;
    background-color: #2b26221b; 
    color: #ff9d1c;            
    border: none;
    border-radius: 8px;              
    @include m.font2(calc($index * 1.2));      
    font-weight: 500;          
    cursor: pointer;
    text-transform: lowercase; 
    display: flex;          
    align-items: center;    
    justify-content: center;
    text-align: center; 
    padding: 10px 30px;  
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        background-color: #9e6214;
    }
}


.InputContainer {
    background: #2a2a2a;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    width: 60vh;
    text-align: center;

    input {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 2rem;
      border: none;
      border-bottom: 2px solid #ccc;
      outline: none;
      background-color: transparent;
      color: $text-color;
      @include m.font2(calc($index * 1.2));

      &:focus + .highlight {
        width: 100%;
      }
    }

    .highlight {
      position: absolute;
      bottom: 0; 
      left: 0;
      height: 2px;
      width: 0;
      background-color: rgb(255, 102, 0);
      transition: all 0.7s ease;
      pointer-events: none; 
    }
  }

.Error {
    width: 90%;
    color: #ff4d4d;
    font-size: 0.85rem;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    display: flex;          
    justify-content: center;
}
